<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	throwExceptions="false"
	throwConfigExceptions="true"
	internalLogLevel="Off" >

	<targets async="true">
		<target name="file" xsi:type="File"
			layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${MACHINENAME}] [${processname}] [${LEVEL}] [${logger}] - ${message} ${exception:format=toString}"
			fileName="${basedir}/logs/current.log"
			archiveFileName="${basedir}/logs/archive.{#}.log"
			archiveEvery="Day"
			archiveNumbering="Date"
			maxArchiveFiles="60"
			concurrentWrites="true"
			keepFileOpen="false" />

		<target name="debugger" xsi:type="Debugger"
			layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${LEVEL}] [${processname}] [${logger}] - ${message} ${exception:format=toString}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="*" minlevel="Debug" writeTo="debugger" />
	</rules>
</nlog>
