* {
  padding: 5px;
}

.app {
  text-align: center;
  padding: 0px;
}

.header {
  background-color: #282c34;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
  padding: 0px;
}

.error {
  color: red;
}
